In [1]:
# Do not make any changes in this cell
# Simply execute it and move on

import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
import json
ans = [0]*8

In [2]:
# Simply execute this cell and move on

#Import the dataset and define the feature as well as the target datasets / columns  
dataset = pd.read_csv('heart.csv')  
#We drop the 'trestbps','chol','thalach','oldpeak' as they have numerical values  
dataset=dataset.drop('trestbps',axis=1) 
dataset=dataset.drop('chol',axis=1) 
dataset=dataset.drop('thalach',axis=1) 
dataset=dataset.drop('oldpeak',axis=1) 
dataset.describe()

,age,sex,cp,fbs,restecg,exang,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,0.148515,0.528053,0.326733,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,0.356198,0.525860,0.469794,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,0.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,1.000000,2.000000,1.000000,2.000000,4.000000,3.000000,1.000000

In [3]:
#These are the meanings of above features in the dataset
'''
age
sex
chest pain type (4 values)
resting blood pressure
serum cholestoral in mg/dl
fasting blood sugar > 120 mg/dl
resting electrocardiographic results (values 0,1,2)
maximum heart rate achieved
exercise induced angina
oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
'''

'\nage\nsex\nchest pain type (4 values)\nresting blood pressure\nserum cholestoral in mg/dl\nfasting blood sugar > 120 mg/dl\nresting electrocardiographic results (values 0,1,2)\nmaximum heart rate achieved\nexercise induced angina\noldpeak = ST depression induced by exercise relative to rest\nthe slope of the peak exercise ST segment\nnumber of major vessels (0-3) colored by flourosopy\nthal: 3 = normal; 6 = fixed defect; 7 = reversable defect\n'

In [4]:
# Divide the age feature  into groups 
# Group the data based on age (<30 , range(30,40) , range(40,50) ,  range(50,60) , range(60,70) , >=70 )
#              = [ -1 ,     0        ,     1        ,         2     ,          3   ,   4   ]

# Write code here
age_group = []
for Age in dataset["age"]:
    if Age<30:
        age_group.append(-1)
    elif Age<40:
        age_group.append(0)
    elif Age<50:
        age_group.append(1)
    elif Age<60:
        age_group.append(2)
    elif Age<70:
        age_group.append(3)
    else:
        age_group.append(4)

age_group = np.array(age_group)
dataset["Age_group"] = age_group

In [5]:
# QUESTION -1 :- (1mark)
#       Bayes theorm 
#       Find the following from the above data set 
#           - Find P("cp"=1,"thal"=2,"slope"=2 / Y=1) i.e.find the probability of ( "cp"=1 and "thal"=2 and "slope"=2 ) given that "target"=1
#       Assign your answer to ans[-1]

In [6]:
#Write code here

df1 = dataset[dataset["target"]==1]
tot1 = len(df1)
fav = len(df1[(df1["cp"]==1) & (df1['thal']==2) & (df1['slope']==2)])
prob = fav/tot1
prob

0.1696969696969697

In [7]:
#Write your answer here
ans[0]=prob

In [8]:
# QUESTION -2 :- (1mark)
#       Find the prior distribution on the whole above data set , i.e. P(Y=1) and P(Y=0)
#       Enter value of P(Y=1) in ans[0]

In [9]:
# Write your code here
#P(Y)
#Prior distribution
freq1 = len(dataset[dataset["target"]==1])
freq0 = len(dataset[dataset["target"]==0])
tot = len(dataset)
pr1 = freq1/tot
pr0 = freq0/tot

In [10]:
# Enter your answer here
ans[1]= pr1

In [11]:
# QUESTION -3:- (3marks)
#         Find the class conditional distribution on the above data set i.e. find P(X/Y)
#         Note: If class conditional probability = 0 assign 0.00000000000000001 (a low value) 
#         Find the class conditional probability of the feature "slope"= 0,1,2 when "target"=0 i.e. 
# P(X(slope)=i/Y=0) where i=0,1,2
#         Assign the answer to ans[1] in form of a list as [P(X(slope)=0/Y=0) , P(X(slope)=1/Y=0) ,
# P(X(slope)=2/Y=0)]

In [12]:
#Write your code below
#Class conditional distribution
#P(x/y)
df0 = dataset[dataset["target"]==0]
c0 = len(df0[df0["slope"]==0])
c1 = len(df0[df0["slope"]==1])
c2 = len(df0[df0["slope"]==2])
tot0 = len(df0)
cc0 = c0/tot0
cc1 = c1/tot0
cc2 = c2/tot0

In [13]:

# Assign your answer here
ans[2]=[cc0,cc1,cc2]

In [14]:
# QUESTION - 4:- (3marks)
#         Find the posterior distribution of the above dataset
#         i.e. Find P(Y/X) 
#         For X={"age":-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}
#             - Find the label value (1 or 0) and also the respective confidence also the value of 
#               k in {  P(Y/X)=k*P(X1/Y)*P(X2/Y)*P(X3/Y)*P(X4/Y)......*P(Xn/Y)*P(Y) for n features   }
#         eg: if the answer is Y=0 with confidence =0.89 and k= 2100.8
#             your answer should be ans[2]=[0,0.89,2100.8]

In [15]:
#Write code here
# posterior distribution
#P(y/x)
X={"Age_group":-1,'sex': 0,'cp':0 ,'fbs':1,'restecg':1,'exang':1,'slope':2,'ca':1,'thal':1}

# y=0
post0 = 1

for key in X:
    F = len(df0[df0[key]==X[key]])
    if F==0:
        F = 0.00000000000000001
    post0 = post0*(F/tot0)

post0 = post0*pr0
    
# y=1
post1 = 1
for key in X:
    F = len(df1[df1[key]==X[key]])
    if F==0:
        F = 0.00000000000000001
    post1 = post1*(F/tot1)
post1 = post1*pr1

k = 1/(post0+post1)
print(post0*k,post1*k,k)

9.382776666790429e-17 0.9999999999999998 86583642.22454011

In [16]:
#Write your answers here
ans[3]=[1,post1*k,k]

In [17]:
# Splitting the data for fitting a library naive bayes model from sklearn
# Use train_test_split to split the data

# Split the data into train and test (train-90% and test-10%)
# Strictly use (randon_state = 42) in train_test_split ,so that your answer can be evaluated

# Write your code here 
from sklearn.model_selection import train_test_split
df_new = dataset.drop(labels = "target",axis = 1)
X_train, X_test, y_train, y_test = train_test_split(df_new, dataset["target"], test_size=0.1, random_state=42)

In [18]:
# QUESTION - 5 :- (2marks)
#         Import the  GaussianNB  model from sklearn and find the no of wrong predictions on the testing set
# i.e. train and fit the model on the training set and predict the output if the heart disease exists or not 
#         Compare the predicted and the testing labels and enter the no.of wrongly predicted lables in ans[3]

In [19]:
#Importing the Gaussian naive bayes classifier model from sklearn

from sklearn.naive_bayes import GaussianNB

#Write your code below
nb = GaussianNB()
nb.fit(X_train,y_train)
y_hat = nb.predict(X_test)

error = 0
for i in range(len(y_test)):
    if y_test.iloc[i]!=y_hat[i]:
        error+=1
#     print(y_test.iloc[i],y_hat[i])
print(error)
# print(y_test,y_hat)

7

In [23]:
#Write your answers here

ans[4]=error
ans

['0.1696969696969697',
 '0.5445544554455446',
 '[0.08695652173913043, 0.6594202898550725, 0.2536231884057971]',
 '[1, 0.9999999999999998, 86583642.22454011]',
 7,
 '0',
 '0',
 '0']

In [21]:
import json
ans = [str(item) for item in ans]

filename = "umangpandey07@gmail.com_Umang_Pandey_NaiveBayes"

# Eg if your name is Saurav Joshi and email id is sauravjoshi123@gmail.com, filename becomes
# filename = sauravjoshi123@gmail.com_Saurav_Joshi_NaiveBayes

## Do not change anything below!!
- Make sure you have changed the above variable "filename" with the correct value. Do not change anything below!!

In [22]:
from importlib import import_module
import os
from pprint import pprint

findScore = import_module('findScore')
response = findScore.main(ans)
response['details'] = filename
with open(f'evaluation_{filename}.json', 'w') as outfile:
    json.dump(response, outfile)
pprint(response)

{'Comments': 'Please make sure the Python script you are submitting is not '
             'having errors. Try running before submitting',
 'Message': 'Successfully submitted! Thanks for taking the exercise',
 'details': 'abhiamisagar2512@gmail.com_Abhishek_Purohit_NaiveBayes',
 'status': 'Success'}